.heading {
  color: rgb(128, 128, 128);
  border-bottom: 1px solid #14877c;
  margin-bottom: 30px;
  padding-bottom: 10px;
}


table {
  width: 100%;
  padding: 1em;
  border-collapse: collapse;
  box-shadow: 0 2px 8px 0 rgba(34, 35, 58, 0.2);
  
}

thead {
  background-color: rgb(70, 89, 89);
  font-size: 16px;
}

th {
  text-align: left;
  padding: 8px;
  background-color: 1px solid #ffffff;
  color: rgb(255, 255, 255);
 
}
td {
  text-align: left;
  padding: 8px;
}

.pagination {
    padding: 0.5rem;
  }
  
button {
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  user-select: none;
  font-weight: 600;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #14877c;
  background-color: #14877c;
  cursor: pointer;
  margin: 0px 15px;
  min-width: 100px;
}

button:hover {
  background: #14877c;
  color: #ffffff;
}

