html, body {
    max-width: 100%;
    height: 100% !important;
    padding: 0;
    margin: 0;
}

body ::-webkit-scrollbar {
    width:0 !important;
    height: 0 !important;
}

#customDropdown {
    font-weight: bold;
}



input {
  width: 40%;
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid #14877c;
  padding: 10px;
  font-size: 14px;
}

.ui.button.googleButtonStyle {
    width: 100%;
    height: 40px;
}


#page-wrap{
padding-top: 30px;
	
}

.footer{
	position: fixed;
margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-top{
	position: relative;
	 width: 100%;
	 
}


.bg-request-access {
  /* The image used */
  background-image: url("../images/request-access-bgrnd.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}